
.properties td{/* for manipulated edit data dialog table*/
  font-size: 17px;
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #dadce0;
}

.acin {
    position: relative;
    display: inline-block;
    width: 98%;
  }
.acin-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .acin-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .acin-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .acin-items .acin-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }